<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorator="admin-layout">
<head>
<meta charset="ISO-8859-1">
<title>User List</title>
</head>
<body class="fixed-left">
<div layout:fragment="content">
	<div class="content">
		<div class="container">
			<div class="row">
                            <div class="col-sm-12">
                                <h4 class="pull-left page-title"​ th:text="#{userlist}">User List</h4>
                                <ol class="breadcrumb pull-right">
                                    
                                </ol>
                            </div>
                        </div>
              <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="m-b-30">
                                            <a th:href="@{/user}"><button id="addToTable" class="btn btn-primary waves-effect waves-light" th:text="#{add}">Add <i class="fa fa-plus"></i></button></a>
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-bordered table-striped" id="datatable-editable">
                                    <thead>
                                        <tr>
	                                         <th th:text="#{id}">ID</th>
	                                         <th th:text="#{n}">Name</th>
	                                         <th th:text="#{email}">Email</th>
                                        	 <th th:text="#{gender}">Gender</th>
                                            <th th:text="#{phone}">PhoneNumber</th>
                                            <th th:text="#{e}">Status</th>
                                            <th th:text="#{u}">user_hash</th>
                          					<th th:text="#{action}">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                       					<tr th:each="USER : ${USERS}">
                       						<td th:text="${USER.id}"></td>
                       						<td th:text="${USER.username}"></td>
                       						<td th:text="${USER.email}"></td>
                       						<td th:text="${USER.gender}"></td>
                       						<td th:text="${USER.phonenumber}"></td>
                       						<td th:text="${USER.status}"></td>
                       						<td th:text="${USER.user_hash}"></td>
                       						<td>
                       							<a th:href="@{/edit(user_hash=${USER.user_hash})}">Edit</a>
                       							<a th:href="@{/remove(user_hash=${USER.user_hash})}">Remove</a>
                       							<a th:href="@{/detail(user_hash=${USER.user_hash})}">Detail</a>
                       						</td>
                       						
                       					</tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                            </div>
          </div>
           <footer class="footer text-right">
                    2015 © Seng Kimseang.
                </footer> 
     </div>
</body>
</html>