  <div id="wrapper">
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">
                    <div class="user-details">
                        <div class="pull-left">
                            <img th:src="@{/resources/static/images/me.jpg}" alt="" class="thumb-md img-circle">
                        </div>
                        <div class="user-info">
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" th:text="#{sengkimseang}">Seng Kimseang <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0)"><i class="md md-face-unlock"></i> Profile<div class="ripple-wrapper"></div></a></li>
                                    <li><a href="javascript:void(0)"><i class="md md-settings"></i> Settings</a></li>
                                    <li><a href="javascript:void(0)"><i class="md md-lock"></i> Lock screen</a></li>
                                    <li><a href="javascript:void(0)"><i class="md md-settings-power"></i> Logout</a></li>
                                </ul>
                            </div>
                            
                            <p class="text-muted m-0" th:text="#{admin}">Administrator</p>
                        </div>
                    </div>
                    <!--- Divider -->
                    <div id="sidebar-menu">
                        <ul>
                             <li>
                                <a th:href="@{/}" class="waves-effect"><i class="md md-event"></i><span​ th:text="#{home}"> Home </span></a>
                            </li>
                           
                            <li>
                                <a th:href="@{/user}" class="waves-effect"><i class="md md-event"></i><span th:text="#{user}"> User </span></a>
                            </li>
                             
                           <li>
                                <a th:href="@{/userlist}" class="waves-effect"><i class="md md-event"></i><span  th:text="#{userlist}"> User List </span></a>
                            </li>
                            
                             <li>
                               <a th:href="@{/role}" class="waves-effect"><i class="md md-event"></i><span th:text="#{tota}"> Role   </span></a>
                            </li> 
                            
                            <li>
                                <a th:href="@{/rolelist}" class="waves-effect"><i class="md md-event"></i><span th:text="#{rolelist}"> Role List </span></a>
                            </li>
                             <li>
                                <a th:href="@{/user_detail}" class="waves-effect"><i class="md md-event"></i><span th:text="#{rolelist}"> User Detail </span></a>
                            </li>

                          


                          
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            </div>